ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #26aae1;
  }
  li {
    border-left: 2px solid rgb(253, 249, 249);
  }
#eventone {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}



table{
  align: center;
}