<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" type="text/css" href="style4.css">
</head>
    <body>  
        <ul>
            <li id="left"><a href="/admin">Admin</a></li>
            <li id="right"><a href="/">Clubhou.se</a></li>
        </ul>
        <div class="container">
        <img src="error.jpg" alt="Error Page">
        
            </div>
            <p>Error: <%= message %></p>
        <script src="GroupProject.js"></script>
    </body>
</html>