<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" type="text/css" href="style4.css">
</head>
    <body>  
        <ul>
            <li id="left"><a href="/admin">Admin</a></li>
            <li id="right"><a href="/">Clubhou.se</a></li>
        </ul>
        <div class="container">
        <img src="error.ejs" alt="Error Page">
            </div>
        <script src="GroupProject.js"></script>
    </body>
</html>