<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" type="text/css" href="style3.css">
</head>
    <body>  
        <ul>
            <li id="left"><a href="/admin">Admin</a></li>
            <li id="right"><a href="/">Clubhou.se</a></li>
        </ul>
        <div class="container">
        <p>Success, you've signed up for the event!</p>
            </div>
        <script src="GroupProject.js"></script>
    </body>
</html>