body {
  font-family: 'Bebas Neue', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #26aae1;
}
li {
  border-left: 2px solid rgb(253, 249, 249);
}

.container {
  width: relative;
  height: relative;
  background: #26aae1;
  grid-column: 1 / 2 / 3;
  float: left;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  font-size: 30px;
  margin-top: 20px;
}
form {
  font-size: 30px;
}
label {
  grid-column: 1 / 2 /3 /4;
  font-family: 'Bebas Neue', sans-serif;
}

input,
button {
  grid-column: 2 / 3;
  width: relative;
  height: 20px;
  font-size: 20px;

}

form {
  display: grid;
  border-block-start: #26aae1;
  border-block-start-style: dashed;
  border-block-start-width: 15px;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  padding: 5px; 
  background-color: #26aae1;
  background-origin: border-box 900px #26aae1;
  width: relative; 
  background-size: relative;
  grid-column: 1 / 2 / 3 / 4;
  float: left;
  margin: 0px;
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}


input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}


.polaroid {
  padding: 10px;
  display: grid;
  float: right;
  margin-right: auto;
  size: 30%;
}




