body {
  font-family: 'Bebas Neue', sans-serif;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #26aae1;
}
li {
  border-left: 2px solid rgb(253, 249, 249);
}


.container {
  border: 5px solid #333;
  width: 60%;
  float: left;
  background: #26aae1;
  /* margin: 20px; */
  margin: 0;
  padding: 20px;
  font-size: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 60px;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 20px !important;
    width: 80% !important;
  }
  .polaroid {
    margin-top: 20px !important;
    width: 80% !important;
    float: left !important;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100% !important;
  }
  .polaroid {
    width: 100% !important;
    float: left !important;
  }
}


input,
button {
  grid-column: 1/ 2 / 3;
  width: relative;
  height: 20px;
  font-size: 10px;
}

form {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  display: grid;
  background: #26aae1;
  border-block-start-width: 15px;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  background-size: relative;
  grid-column: 1 / 2 / 3 / 4;
  float: left;
  /* margin: 20px; */
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

select{
  width: 80%;
  height: 90%;
  margin:2px;
  align-content: left;
  background: rgba(0,0,0,0.3);
  color:#fff;
  text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

#button {
  background-color: rgb(83, 84, 83); 
  border: 30px black;
  margin-top: 10px;
  color: white;
  padding: 10px 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.polaroid {
  /* padding: 10px; */
  float: right;
  /* margin-left: 10px; */
  margin: 0 auto;
  width: 35%;
  position: relative;
  margin-top: 40px;
  object-fit: cover;
}




